@import 'vendor/bourbon/bourbon';

.cursor-grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

.builder {
	.builder--page {
		margin-bottom: 24px;
	}
	.builder--footer {
		clear: both;
	}
	.builder--template {
		overflow: hidden;
		float: left;
		width: 75%;
		padding: 0 30px 0 0;
	}
	.builder--block-types {
		float: right;
		width: 25%;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin: 0 0 12px;
			padding: 12px;
			background: #ccc;
			cursor: -webkit-grab;
			cursor: -moz-grab;
			cursor: grab;
		}
	}
	.zone {
		min-height: 200px;
		margin: 0 0 12px;
		padding: 12px 12px 0;
		border: 2px dashed #ccc;
		@include transition(border-color .2s ease-out);
		&.dragover {
			border-color: #f00;
		}
	}
	.zone-main {
		float: left;
		width: 60%;
	}
	.zone-sidebar {
		float: left;
		width: 40%;
	}
	.builder--placeholder {
		margin: 0 0 12px;
		height: 100px;
		border: 1px solid #ccc;
	}

	.block {
		margin: 0 0 12px;
		background: #ddd;
	}
	.block--header {
		padding: 6px 12px;
		background: #aaa;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		cursor: grab;
		@include clearfix();
	}
	.block--title {
		float: left;
	}
	.block--options {
		float: right;
	}
	.block--content {
		padding: 6px 12px;
		label {
			display: block;
			width: auto;
		}
		input, select, textarea {
			width: 100%;
		}
	}
	.block--style {
		width: auto;
	}
	.action-delete {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 0;
		background: red;
		text-indent: -999em;
	}
}
